/**
/ Header variables
*/

//Colors
$footer-bg-color: #2a2d3e;
$footer-text-color: #fff;
$footer-link-hover-color: red;
$footer-link-active-color: red;

.page-footer {
    background-color: $footer-bg-color;
    a,
    p,
    span {
        color: $footer-text-color;
    }
}

.page-footer-inner {
    padding-top: $pd-container-v;
    padding-bottom: $pd-container-v;
    padding-left: $pd-container-h;
    padding-right: $pd-container-h;
    margin-left: auto;
    margin-right: auto;
    max-width: $page-w;
}


