$border-radius-forms: 8px;
$text-size-forms: 14px;
$height-forms: 60px;
$padding-forms: 0 20px;
$margin-forms: 20px;


// Items group
.form-items-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.form-items {
  display: flex;
  @media screen and (max-width: #{$bp-landscape}) {
    flex-direction: column;
  }

  .form-item {
    width: 100%;
    margin-right: $margin-forms;

    &:last-child {
      margin-right: 0;
    }
  }

  &__column {
    .form-items__wrapper {
      flex-direction: column;
    }
  }
}

.form-item {
  margin-bottom: $margin-forms;

  &__title {
    margin-bottom: 10px;
    font-weight: 600;
  }
}

// Inputs, select, textarea
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="file"],
input[type="month"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  padding: $padding-forms;
  height: $height-forms;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: $border-radius-forms;
  font-size: $text-size-forms;
  transition: all 0.2s ease-out;

  &:focus {
    border: 2px solid $brand-color;
  }
}

/**
/ Select
*/
select {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGFBMVEUAAAAZJCYWISIYIyQYIiUWIiIYIyQYIiXh0rToAAAACHRSTlMA/hTRqiinvwFkb0sAAABCSURBVHjajchBDsAgDAPBOJDw/x+XVN0icQGfPGs3i+2GEqeiLCXWLENzvdzrDfP2ls/NjfKbgimYglfBq2Dm+LwHguMA235EdKYAAAAASUVORK5CYII=);
  background-position: right 16px center;
  padding-right: 50px;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 13px auto;
}

/**
/ Text Area
*/
textarea {
  padding: 15px 20px;
  height: 120px;
}

/**
/ Material style for inputs
*/
.input-text, .input-select {
  position: relative;
  display: flex;
  flex-direction: column;

  input,
  textarea,
  select {
    &:focus ~ label,
    &.active ~ label {
      color: #000;
      background: #fff;
      top: -13px;
    }
  }

  label {
    color: #173f78;
    border-radius: 4px;
    position: absolute;
    padding: 0 5px;
    top: 17px;
    left: 15px;
    font-size: $text-size-forms;
    cursor: text;
    pointer-events: none;
    transition: all 0.2s ease-out;
  }
}

/**
/ Radio and Checkbox
*/

.input-check, .input-single-check {
  display: flex;
  align-items: center;

  input {
    width: 25px;
    height: 25px;
  }

  label {
    margin-left: 0.6rem;
  }
}

.input-group-check__items {
  display: flex;
  flex-wrap: wrap;

  .input-check {
    margin-right: 25px;
    margin-bottom: 15px;

    :last-child {
      margin-right: 0;
    }
  }
}

/**
  / Form Item Group
*/
.form-item-group {
}


/**
/ Form Order
*/
form {
  position: relative;

  &._sending {
    opacity: 1;
    visibility: visible;
  }


  &._complete::after {
    opacity: 1;
    visibility: visible;
  }

  ._error-input {
    box-shadow: 0 0 3px red;
    border-color: red !important;
  }

  ._error-group-title {
    color: red;
  }

  .hide-hide-hide {
    display: none;
  }
}

.form__message-alert {
  color: red;
}
