h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

.title-section {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    @media screen and (max-width: #{$bp-landscape}) {
        font-size: 32px;
    }
    @media screen and (max-width: #{$bp-portrait}) {
        font-size: 26px;
    }
}