@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeuePro-ExpandedRegular.woff') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeuePro-ExpandedBold.woff') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeuePro-ExpandedExtraBold.woff') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}