body{
	font-family: $font-body;
	font-size: $text-size-body;
	color: $text-color;
	line-height: $line-height-body;
	font-display: swap;
}

button,
input,
select,
optgroup,
textarea {
	color: $text-color;
	font-family: $font-body;
	font-size: $text-size-body;
	font-weight: 400;
	line-height: $line-height-body;
	text-rendering: optimizeLegibility;
}
