//Colors
$brand-color: #1971F2;
$text-color: #000;
$headlines-color: #000;
$link-color: #00f;
$link-hover: red;

//Typography
$font-body: Roboto;
$font-headings: Bebas;
$text-size-body: 16px;
$line-height-body: 1.4;

//Page width & Breakpoints Page
$page-w: 1240px;
$bp-tablet: 1024px;
$bp-landscape: 768px;
$bp-portrait: 480px;

//Paddings
$wrapper-padding: 20px;

