//Colors
$brand-color: #1971F2;

//Page width & Breakpoints Page
$page-w: 1340px;
$bp-tablet: 1024px;
$bp-landscape: 768px;
$bp-portrait: 480px;

//Paddings
$pd-container-h: 30px; // лефт райт
$pd-container-v: 60px; // топ боттом

